*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}  

/* globales */

h2 {
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    color: #e84c1e;
}

/* el aclamado clearfix de boiler plate, aplicar para margenes desfazados, apliacar sabiamente */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

.contenedor {
    max-width: 800px;
    width: 95%;
    margin: 0 auto;
}

/* header */

.margen-cont {
    display: flex;
    justify-content: space-between;
}

.header-sitio {
    padding: 20px;
}

header div.logo img {
    width: 50%;
}

.nav-principal {
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.nav-principal a {
    margin-right: 40px;
}
.nav-principal a:last-of-type {
    margin-right: 0;
}

.nav-principal a i {
    font-size: 24px;
    color: #ed762e;
    transition: transform .5s ease-in-out;
}

.nav-principal a i:hover {
    transform: scale(1.2);
}

.nav-principal a i::after {
    content: '';
}

/** seccion 1 **/

.hero {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 70vh;
}

.hero img {
    width: 15%;
}

/** main **/


.slide {
    cursor: pointer;
    width: 100%;
    height: 100vh;
    display: flex;
}

.slide:active {
    cursor: grabbing;
}

.first-box, .second-box, .third-box {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.box1, .box2, .box3, .box4 p {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.box1 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: #FFFFFF;
}

.box1 p {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
}

.box1 i {
    margin-block-start: 1em;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.box2 {
    background-color: #ed762e;
}
.box3 {
    background-color: #e84c1e;
}
.box4 {
    background-color: #FFFFFF;
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
}

.box4 p {
    grid-column: 1 / 4;
    grid-row: 3 / 5;
}

.box4 i {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    color: #ed762e;
    font-size: 20px;
}
